body, html {
    background-color: rgb(53,53,53);
    color: whitesmoke;
}
header {
    font-family: 'Tangerine', cursive;
    font-size: 72px;
    text-align: center;
    /* color: #FFF; */
}

h3 {
    padding-top: 20px;
    font-family: 'Unica One', cursive;
    font-size: 26px;
    text-align: center;
}

#its_about_time {
    padding-top: 0px;
    font-family: 'Unica One', cursive;
    font-size: 26px;
    text-align: center;
}

.image_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
  
    
}

.single_watch_images {
    float: left;
    max-height: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

h2 {
    font-family: 'Unica One';
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 26px;

    
    
}


.watch_container {
    border-style: solid;
    border-color: #FDEFA6;
    border-radius: 13px;
    border-width: 2px 2px 2px 2px;
    background-color: #1A1818;
    margin-bottom: 15px;
    padding: 16px;
    margin-left: 50px;
    margin-right: 50px;
   
}

.watch_description {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
}

#three_watch_image {
    width: 540px;
    padding: 20px;

}

footer {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    text-align: center;
}
